<div id='edit-profile-page'>
  <div class='edit-profile-page__content'>
    <h1 class='main-heading'>
      Edit your profile
    </h1>
    <span class='subtitle'>Tell us a bit about you so we can know you better!</span>
    {{#if message}}
      {{message}}
    {{/if}}
    {{#if error}}
      {{error}}
    {{/if}}
    <form action='/profile/edit' method='post' class='form'>
      <label for='first_name' class='form__label text-centered'>First name</label>
      <input type='text' name='first_name' class='form-input' value={{foundUser.first_name}} required />
      <label for='last_name' class='form__label text-centered'>Last name</label>
      <input type='text' name='last_name' class='form-input' value={{foundUser.last_name}} required />
      <label for='last_name' class='form__label text-centered'>Email address</label>
      <input type='text' name='email_address' class='form-input' value={{foundUser.email}} required />
      <label for='last_name' class='form__label text-centered'>Password</label>
      <input type='password' name='password' class='form-input' />
      <label for='age' class='form__label text-centered'>Age</label>
      <input type='number' name='age' class='form-input' value={{foundUser.age}} />
      <label for='city' class='form__label text-centered'>City</label>
      <input type='text' name='city' class='form-input' value={{foundUser.city}} />
      <label for='homepage' class='form__label text-centered'>Homepage</label>
      <input type='text' name='homepage' class='form-input' value={{foundUser.url}} />
      <button type='submit' class='form__button'>Update</button>
    </form>
  </div>
  <div class='back-to-homepage'><a href='/'>Go back to homepage</a></div>
</div>