<div id='signatures-page'>
  <div class='signatures-page__content'>
    <h1 class='main-heading'>Signatures</h1>
    <span class='subtitle'>This is the list of awesome people who have signed our petition, helping us to bring The
      Office to every house with Netflix access!</span>
    <ul class='signature-list'>
      {{#signatures}}
        {{#if url}}
          <li class='signature-list__signature'>
            <a href={{url}}>{{first_name}} {{last_name}}</a>
            {{#if age}}({{age}}){{/if}}
            {{#if city}} - <a href='/signatures/{{city}}'>{{city}}</a>{{/if}}
          </li>
        {{else}}
          <li class='signature-list__signature'>
            {{first_name}}
            {{last_name}}
            {{#if age}}({{age}}){{/if}}
            {{#if city}} - <a href='/signatures/{{city}}'>{{city}}</a>{{/if}}
          </li>
        {{/if}}
      {{/signatures}}
    </ul>
  </div>
  <div class='back-to-homepage'><a href='/'>Go back to homepage</a></div>
</div>